/Banco de dados/Java Persistence API (JPA)/Exercicio01/nbproject/private/
/Banco de dados/Java Persistence API (JPA)/Exercicio01/build/
/Banco de dados/Java Persistence API (JPA)/Exercicio01/dist/
/Banco de dados/Java Persistence API (JPA)/ExemploLista/nbproject/private/
/Banco de dados/Java Persistence API (JPA)/ExemploLista/build/
/Banco de dados/Java Persistence API (JPA)/RuleOf72/nbproject/private/
/Banco de dados/Java Persistence API (JPA)/RuleOf72/build/
/Banco de dados/Java Persistence API (JPA)/RuleOf72/dist/
/Banco de dados/Java Persistence API (JPA)/AplicacaoJulie/nbproject/private/
/Banco de dados/Java Persistence API (JPA)/AplicacaoJulie/build/