@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #f0f0f0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #4a7b9d;
}

.header-title {
    font-size: 50px;
    font-family: Righteous;
    text-align: center;
    color: #faffd8;
}

.header-links {
    text-decoration: none;
    display: flex;
    font-size: 1.2em;
    align-items: center;
    color: white;
}

.header-links a {
    display: flex;
    background-color: #ecffb0;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(141, 130, 130);
    padding: 1em;
    text-decoration: none;
    color: #54577c;
}

.navbar {
    display: flex;
    background-color: #54577c;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.navbar a {
    color: white;
    font-size: 25px;
    font-family: Oswald;
    font-weight: 400;
    text-decoration: none;
}

.login-section,
.register-section {
    background-color: #9aa899;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    padding: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}

.cadastro-form-section {
    background-color: #9aa899;
}

.cadastroForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
    padding: 30px;
    margin: 1px;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}

.button {
    background-color: #4a7b9d;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.form input {
    padding: 10px;
}

.form .button {
    background-color: #faffd8;
    color: white;
    padding: 10px;
    color: #333;
    border-radius: 12px;
    margin: 20px;
}

.input-form {
    margin: 1.5em;
}

.cartinha {
    background-color: #54577c;
    float: left;
    padding: 20px;
    text-align: center;
    font-family: Josefin Sans;
    color: #efefef;
    border-radius: 10px 10px 10px 10px;
}

.cartinha img {
    border-radius: 10px;
    height: 200px;
    padding: 20px;
}

.cartinha h2 {
    font-size: 20px;
}

.cartinha p {
    margin-top: 10px;
    font-family: ARial;
}

.titulo {
    display: flex;
    font-size: 2em;
    padding: 30px;
    font-family: Oswald;
    font-weight: 100;
    background-color: #faffd8;
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
}

.corbanner {
    background-color: #9aa899;
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 50px;
}

.texto-banner {
    font-family: Josefin Sans;
    font-size: 20px;
}

.texto-banner p {
    padding: 10px;
}

.imagem-banner {
    display: flex;
}

.imagem-banner img {
    display: flex;
    border: solid 5px #efefef;
}

.workoutCards {
    background-color: #fff;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
}

.corranking {
    background-color: #4a7b9d;
}

.container-ranking {
    padding: 40px;
}

.ranking {
    display: flex;
    font-family: Oswald;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.ranking li {
    color: #faffd8;
    padding: 10px;
}

.podio {
    display: flex;
    justify-content: space-evenly;
    font-family: Oswald;
}

.prata {
    background-color: silver;
    padding: 100;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 45px;
    margin-left: 5px;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0px 4px 0px #000;
}

.bronze {
    background-color: #cd7f32;
    padding: 100;
    margin-top: 40;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-left: 5px;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0px 4px 0px #000;
}

.ouro {
    background-color: #ffd700;
    padding: 100;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 4px 0px #000;
}

.ouro i,
.prata i,
.bronze i {
    font-size: 30px;
}

body {
    font-family: Arial;
}

.welcomeMessage {
    padding: 20;
    font-size: 15px;
}

.tabcontent {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.treinos {
    display: flex;
    text-align: center;
    background-color: #9aa899;
    padding: 50px;
}

.card-icon {
    padding: 1em;
    color: #cd7f32;
}

.card-exercicio {
    display: flex;
    background-color: #ecffb0;
    box-shadow: 2px 2px 0px #aaa;
    border-radius: 5px;
    align-items: center;
    padding: 20px;
}

.minhaEstrela {
    font-size: 60px;
}

.card-text button {
    background-color: #54577c;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
}

.treinosAntigos {
    background-color: #4a7b9d;
}

.treinos-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.TreinoAntigo {
    display: flex;
    gap: 20px;
}

.imgTreinoAntigo {
    margin: 10px;
}

.detalesExercisio {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;
    font-size: 30px;
}

.generoExercisio {
    color: white;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}

.posicaoRanking {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;
    font-size: 30px;
}

.suaPosicaoNoRanking {
    background-color: #4a7b9d;
}

.position {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: RGBA(222, 184, 135, 0.5);
    text-emphasis: center;
}

.exercisio {
    margin: 20px;
    padding: 20px;
    gap: 10px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: #9aa899;
    display: flex;
    text-emphasis: center;
}

.textoCadrastado {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}

.alerta {
    background-color: #ffd700;
    padding: 20px;
}