#q1{
	width: 600px;
	height: 50px;
	background-color: #efefef;
	margin: 20px;
	padding: 20px;
}

#q2{
	width: 600px;
	height: 50px;
	background-color: #efefef;
	margin: 20px;
	padding: 20px;
}


#q3{
	width: 600px;
	height: 50px;
	background-color: #efefef;
	margin: 20px;

	padding: 20px;
}

#q4{
	width: 600px;
	height: 50px;
	background-color: #efefef;
	margin: 20px;
	padding: 20px;
}

#q5{
	width: 600px;
	height: 50px;
	background-color: #efefef;
	margin: 20px;
	padding: 20px;
}

#q6{
	width: 600px;
	height: 300px;
	background-color: #efefef;
	margin: 20px;
	padding: 20px;
}